header {
    background-color: red;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: red;
    color: #fff;
}